body{
  background-color: #FEFEFE;
}

.logo {
  max-width: 200px;
  margin-left: 40px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:hover{
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&display=swap');

/* Barlow Bold */

.barlow {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

/* Barlow Regular */

.barlow2 {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

/* Epilogue Semi-Bold */

.epilogue {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
}

/* Epilogue Light */

.epilogue2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
}

.title{
  font-size: 1.5vw;
}

.space{
  padding-top: 2%;
}

.space2{
  padding-top: 1%;
}

.space3{
  margin: 0% 1.75%;
}

.navbar-nav {
  padding-left: 75px !important;
  padding-right: 50px !important;
}

.nav-link {
  padding-left: 50px !important;
  padding-right: 50px !important;
  text-align: center;
  font-size: 1.5vw;
}

.nav-link:hover {
  color: #e26554;
}

.illust {
  padding-top: 0%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.buttona {
  background-color: #122C5E;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
}

.buttonb {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
}

