body{
  background-color: #FEFEFE;
}

.logo {
  max-width: 200px;
  margin-left: 40px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:hover{
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&display=swap');

/* Barlow Bold */

.barlow {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

/* Barlow Regular */

.barlow2 {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

/* Barlow Semi-Bold */
.barlow3 {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

/* Epilogue Semi-Bold */

.epilogue {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
}

/* Epilogue Light */

.epilogue2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
}

.title{
  font-size: 1.5vw;
}

@media (max-width: 800px) {
  .title {
    font-size: 2.5vw;
  }
}

.space{
  padding-top: 2%;
}

.space2{
  padding-top: 1%;
}

.space3{
  margin: 0% 1.75%;
}

.space4{
  padding-top: 3%;
}

.space5{
	padding-bottom: 3%;
	}

.navbar-nav {
  padding-left: 75px !important;
  padding-right: 50px !important;
}

.nav-link {
  padding-left: 50px !important;
  padding-right: 50px !important;
  text-align: center;
  font-size: 1.5vw;
}

.nav-link:hover {
  color: #e26554;
}

.illust {
  padding-top: 0%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.buttona {
  background-color: #122C5E;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
}

.buttonb {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
}

/* Cards */

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1, .card-3, .card-5{
  background-image: url("images/penguin.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2, .card-4, .card-6{
   background-image: url("images/ttsbyte.png");
   background-repeat: no-repeat;
   background-position: right;
   background-size: 70px;
}

@media(max-width: 990px){
.card{
  margin: 20px;
}
}