body {
  height: 100%;
  background-color: #333f9b; /* For browsers that do not support gradients */
  background-image: linear-gradient(180deg, #333f9b, #c1c8ff);
}

.logo {
  max-width: 200px;
  margin-left: 40px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 990px) {
  .nav-link {
    font-size: 20px !important;
  }
}

@media (max-width: 1400px) {
  .hidemobile-mascot {
    visibility: hidden;
  }
}
@media (max-width: 990px) {
  .hidemobile {
    visibility: hidden;
  }
}

.hidemobile-mascot {
  display: block;
  min-width: 50px;
  position: absolute;
  right: 50px;
  top: -2px;
  z-index: 10000;
}

.mascot {
  height: 180px;
  width: 100px;
}

@media (max-width: 990px) {
  .navbar-nav {
    margin-top: -2vh;
    margin-bottom: 4vh;
  }
}

@media (max-width: 990px) {
  .mobiletop {
    margin-top: -6vh;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&display=swap");

/* Barlow Bold */

.barlow {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

/* Barlow Regular */

.barlow2 {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

/* Barlow Semi-Bold */
.barlow3 {
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.links {
  color: #333f9b;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.links:hover {
  color: #e26554;
}

/* Epilogue Semi-Bold */

.epilogue {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
}

/* Epilogue Light */

.epilogue2 {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
}

.white {
  color: white;
}

.title {
  font-size: 1.5vw;
}

@media (max-width: 990px) {
  .title {
    font-size: 2.5vh;
  }
}

.space {
  padding-top: 2%;
}

.space2 {
  padding-top: 1%;
}

.space3 {
  margin: 0% 1.75%;
}

.space4 {
  padding-top: 3%;
}

.space5 {
  padding-bottom: 3%;
}

.space6 {
  padding-top: 5%;
}

.space7 {
  padding-bottom: 5%;
}

.navbar-collapse {
  margin-right: 15%;
}

.nav-link {
  color: white;
  text-align: center;
  font-size: 1.5vw;
}

.nav-link:hover {
  color: #e26554;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 0.5vh 2vh;
  text-decoration: none;
}

@media (max-width: 990px) {
  .main {
    font-size: 3vw;
  }
  .h3 {
    text-align: center;
    margin: auto;
    width: 50%;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.illust {
  padding-top: 0%;
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
}

/*buttons*/
.buttona {
  background-color: #fc7361;
  border: none;
  padding: 1vh 2vw;
  margin: 1% 0.5%;
  border-radius: 4px;
}

@media (max-width: 990px) {
  .buttona {
    background-color: #fc7361;
    max-width: 60%;
    border: none;
    padding: 1vh 2vw;
    margin: 3% 0.5%;
    margin: auto;
    border-radius: 4px;
  }
}

.buttonb {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
}

.buttonc {
  background-color: #122c5e;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 1% 0.5%;
  border-radius: 4px;
}

.buttond {
  background-color: white;
  border: none;
  color: #122c5e;
  padding: 10px 20px;
  margin: 1% 0.5%;
  border-radius: 4px;
}

.buttona:hover,
.buttonb:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  color: #122c5e;
}

.buttonc:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  color: white;
}

@media (max-width: 990px) {
  .local-title {
    font-size: 25px !important;
  }
}

@media (min-width: 992px) {
  .local-title {
    padding-top: 20px;
  }
}

.buttond:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  color: #122c5e;
}
/* Cards */

.card,
.card-local {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
}

@media (max-width: 990px) {
  .card-local {
    padding: 12px 30px 12px 30px;
  }
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

@media (max-width: 990px) {
  .cards {
    max-width: fit-content;
    padding: 10px 95px 12px 26px;
  }
  .card h4 {
    font-size: 20px !important;
  }
  .card p {
    font-size: 14px;
  }
  .card .barlow3 {
    font-size: 15px;
  }
  .card .links {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .card h4 {
    font-size: 15px !important;
  }
  .card p {
    font-size: 12px;
  }
  .card .barlow3 {
    font-size: 14px;
  }
  .card .links {
    font-size: 13px;
  }
}

@media (max-width: 150px) {
  .card h4 {
    font-size: 14px !important;
  }
  .card p {
    font-size: 10px;
  }
  .card .barlow3 {
    font-size: 12px;
  }
  .card .links {
    font-size: 14px;
  }
}

.card-1,
.card-3,
.card-5 {
  background-image: url("images/penguin.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 80px;
}

.card-2,
.card-4,
.card-6 {
  background-image: url("images/ttsbyte.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 65px;
}

.card-7 {
  /* mentor card */
  background-image: url("images/mentorpenguin.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 80px;
}

.card-8 {
  /* workshop host card */
  background-image: url("images/bytemic.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 80px;
}

.card-9 {
  /* judge card */
  background-image: url("images/penguinjudge.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-size: 80px;
}

@media (max-width: 990px) {
  .card,
  .card-local {
    margin: 20px;
  }
}

/* Carousel CSS */
#tracks {
  padding: 8rem 0;
  background-color: rgba(53, 58, 63, 60%);
}

.carousel-img {
  width: 200px;
  height: 200px;
  width: 200px;
}
.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.7s ease-in-out;
}

.challenge-slide {
  background: transparent !important;
  color: white;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.7s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}
/* .carousel-indicators {
  top: 200px;
}
.slider-main {
  margin-top: 35px;
  margin-left: 60px;
}
.carousel-inner {
  width: 70%;
}
.carousel-inner .carousel-item h3 {
  display: inline-block;
  opacity: 0.5;
}
.carousel-inner .carousel-item p {
  font-size: 17px;
} */

.black {
  color: black;
}

/* Schedule */
#add-to-calendar-icon {
  filter: invert(0);
  max-width: 80px;
}
#add-to-calendar-icon:hover {
  filter: invert(1);
  cursor: pointer;
}

.platform {
  /* padding-top: inherit; */
  position: relative;
  bottom: -128px;
  /* opacity: .75; */
}

#scheduleBoard {
  font-family: "Epilogue", sans-serif;
  background: white;
  border-radius: 6px;
  border: 10px solid rgba(34, 36, 37, 1);
  /* -webkit-box-shadow:inset 0px 11px 0px 10px rgba(34,36,37,1);
  -moz-box-shadow:inset 0px 11px 0px 10px rgba(34,36,37,1);
  box-shadow:inset 0px 11px 0px 10px rgba(34,36,37,1); */
  /* top: -30px; */
  position: relative;
  /* opacity: 0.85; */
  /* padding: 20px; */
  width: 80%;
  margin: auto;
  /* height: calc(100vh - 16px); */
}

.schedulebg {
  position: relative;
  height: 200px;
  width: 65%;
  /* min-height: 300px; */
}

.sched-nav {
  background: rgba(34, 36, 37, 1);
  margin: -2px;
  padding: 10px;
  display: flow-root;
  /* position: relative; */
  /* top: 7.3em; */
  /*
  width: 100%;
  left: 0em; */
}

.sched-btn {
  border-width: medium;
  /* border-color: rgba(68,70,67, 0.5); */
  background-color: rgba(255, 255, 255);
  margin: 0.25vw;
  color: var(--bs-body-bg);
}

.sched-btn:hover {
  background-color: #c4c4c4;
}

.event {
  max-width: 100%;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.event h4 {
  text-align: left;
  padding-left: 4em;
  padding-bottom: 1em;
  line-height: 1;
  position: relative;
  top: 0.5em;
}

/*FAQ CSS*/
.accordion-item {
  margin-bottom: 1rem;
}

.accordion-link {
  text-decoration: none;
  width: 100%;
  display: flex;
}

.accordion-link h4 {
  text-align: left;
}

.answer {
  overflow: hidden;
  max-height: 0;
  position: relative;
}

.fa-caret-up {
  display: none;
}

.answer::before {
  content: "";
  position: absolute;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-item:target .answer {
  max-height: 50rem;
}

.accordion-item:target .accordion-link .fa-caret-down {
  display: contents;
}

.accordion-item:target .accordion-link .fa-caret-up {
  display: none;
}

/* National Sponsor */

.national-sponsor {
  padding-top: 1em;
  padding-left: 0em;
}

.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15 {
  padding-bottom: 6.5em;
  /*padding-left: 1.5em;
  padding-right: 4.5em;*/
  text-align: center;
}

@media (max-width: 990px) {
  .national-sponsor {
    padding-top: 0em;
    padding-left: 0em;
    margin: auto;
  }
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15 {
    width: 15rem;
    margin-left: 10mm;
  }
}
@media (max-width: 736px) {
  .national-sponsor {
    padding-top: 0em;
    padding-left: 0em;
    margin: auto;
  }
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15 {
    width: 15rem;
    margin-left: 15mm;
  }
}
@media (max-width: 667px) {
  .national-sponsor {
    padding-top: 0em;
    padding-left: 0em;
    margin: auto;
  }
  .card-10,
  .card-11,
  .card-12,
  .card-13,
  .card-14,
  .card-15 {
    width: 15rem;
    margin-left: 10mm;
  }
}

@media (max-width: 500px) {
  .national-sponsor {
    width: inherit;
    height: inherit;
    margin: auto;
  }

  .card-img-ms,
  .card-img-bl,
  .card-img-co,
  .card-img-bu,
  .card-img-sp,
  .card-img-rb {
    margin-right: 15%;
  }
}

/* 
.card-img-ms {
  height: 300px;
  width: 120px;
  margin-top: 20%;
}
.card-img-bl {
  margin-top: 2em;
  height: 40px;
}
.card-img-co {
  margin-top: 1.9em;
  height: 39px;
  margin-right: 5px;
}
.card-img-bu {
  margin-top: 2em;
  height: 50px;
  width: 110px;
}
.card-img-sp {
  height: 45px;
  width: 120px;
}*/

/*Local Sponsors*/

/*Contact Footer*/

.bigger {
  font-size: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

/*.scrollToTopBtn {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease
}


.showBtn {
  opacity: 1;
  transform: translateY(0);
}*/
